.rgs__hr{
    color: white;
    background-color: #007c7a;
    height: 2px;
}

.rgs__title{
    font-family: "Arial";
    text-align: center;
    color: #007c7a;
    font-size: 40px;
    padding-left: -50px;
}

.rgs__formContainer{
    border: 2px solid #000000;
}

.rgs__formLabel{
    color: #008A77;
    font-weight: bold;
}

.rgs__formControl{
    border-radius: 20px;
    border-width: 1px;
    border-color: #007c7a;
    border-style: solid;
    color: black;
    outline: #913163;
    background-color: white;
}

.rgs__formControl:focus{
    background-color: white;
    color: black;
}

.rgs__button {
    background-color: #007c7a; /* Green */
    border: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 10px;
}

.rgsButton {
    background-color: #007c7a;
    color: white;
    border: 2px solid #20d1ce;
    border-radius: 0px;
    width: 200px;
    height: 50px;
    transition: all .4s ease;
}

.rgsButton:hover {
    background-color: white;
    color: #007c7a;
    border-radius: 0px;
    width: 200px;
    height: 50px;
}

.rgs__DLButton{
    text-decoration: none;
    padding: 10px;
    color: #4a4a4a;
    background-color: #f2f2f2;
    border: 1px solid #4a4a4a;
}