main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

.btn-default {
  background-color: #009387;
  color: #000;
  border-color: #000;
  font-size: 12px;
}

.btn-default-pages {
  background-color: #009387;
  color: #000;
  border-color: #000;
  font-size: 12px;
  margin: 15px;
}

.text-center {
  font-size: 15px;
}

.table-head {
  font-size: 14px;
}

.listGroup {
  padding: 50px;
}

.text-dark {
  font-size: 15px;
}

.id {
  padding: 0%;
}

#myInput {
  width: 50%;
  font-size: 16px;
  padding: 6px 20px 6px 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  margin-top: 15px;
}

.dropdown {
  top: 0;
  right: 0;
  height: 40px;
  width: 65px;
}
