main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

/*#myInput {*/
/*  font-size: 13px;*/
/*  padding: 6px 13px 6px 13px;*/
/*  border: 1px solid #ddd;*/
/*}*/

/*.table-head {*/
/*  font-size: 12px;*/
/*}*/

/*.list-group {*/
/*  margin-bottom: 20px;*/
/*}*/

/*#myTable {*/
/*  margin-bottom: 30px;*/
/*}*/
