#myInput {
    font-size: 13px;
    padding: 6px 13px 6px 13px;
    border: 1px solid #ddd;
}

.table-head {
    font-size: 12px;
}

.list-group {
    margin-bottom: 20px;
}

#myTable {
    margin-bottom: 30px;
}

.dvpl__hr{
    color: white;
    background-color: #007c7a;
    height: 2px;
}

.dvpl__title{
    font-family: "Arial";
    text-align: center;
    color: #007c7a;
    font-size: 40px;
    padding-left: -50px;
}

.dvpl__formLabel{
    color: #008A77;
    font-weight: bold;
}

.dvpl__formControl{
    border-radius: 20px;
    border-width: 1px;
    border-color: #007c7a;
    border-style: solid;
    color: black;
    outline: #913163;
    background-color: white;
}

.dvpl__formControl:focus{
    background-color: white;
    color: black;
}
