#myInput {
    font-size: 13px;
    padding: 6px 13px 6px 13px;
    border: 1px solid #ddd;
}

.table-head {
    font-size: 12px;
}

.list-group {
    margin-bottom: 20px;
}

#myTable {
    margin-bottom: 30px;
}
